{{ components["header"] }}{{ components["column_left"] }}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="float-end">
                <button
                    type="submit"
                    form="form-module"
                    data-bs-toggle="tooltip"
                    title="{{ lang["woovi_save_button"] }}"
                    class="btn btn-primary"
                >
                    <i class="fa-solid fa-save"></i>
                </button>

                <a
                    href="{{ previous_route }}"
                    data-bs-toggle="tooltip"
                    title="{{ lang["woovi_previous_page_button"] }}"
                    class="btn btn-light"
                >
                    <i class="fa-solid fa-reply"></i>
                </a>
            </div>

            <h1>{{ heading_title }}</h1>

            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item">
                        <a href="{{ breadcrumb.href }}">
                            {{ breadcrumb.text }}
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <i class="fa-solid fa-pencil"></i>

                {{ lang["woovi_settings_page_title"] }}
            </div>

            <div class="card-body">
                <form id="form-module" action="{{ save_route }}" method="post" data-oc-toggle="ajax">
                    <div class="row mb-3">
                        <label for="input-status" class="col-sm-2 col-form-label">
                            {{ lang["woovi_status_input"] }}
                        </label>
                        <div class="col-sm-10">
                            <div class="form-check form-switch form-switch-lg">
                                <input
                                    type="hidden"
                                    name="payment_woovi_status"
                                    value="0"
                                />

                                <input
                                    type="checkbox"
                                    name="payment_woovi_status"
                                    value="1"
                                    id="input-status"
                                    class="form-check-input"

                                    {% if payment_woovi_status %} checked{% endif %}
                                />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="input-app-id" class="col-sm-2 col-form-label">
                            {{ lang["woovi_app_id_input_label"] }}
                        </label>
                        <div class="col-sm-10">
                            <input
                                type="text"
                                name="payment_woovi_app_id"
                                value="{{ payment_woovi_app_id }}"
                                placeholder="{{ lang["woovi_app_id_input_placeholder"] }}"
                                id="input-app-id"
                                class="form-control"
                            />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label
                            for="input-sort-order"
                            class="col-sm-2 col-form-label"
                        >
                            {{ lang["woovi_sort_order_input"] }}
                        </label>
                        <div class="col-sm-10">
                            <input
                                type="text"
                                name="payment_woovi_sort_order"
                                value="{{ payment_woovi_sort_order }}"
                                placeholder="{{ lang["woovi_sort_order_input"] }}"
                                id="input-app-id"
                                class="form-control"
                            />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label
                            for="input-order-status"
                            class="col-sm-2 col-form-label"
                        >
                            {{ lang["woovi_order_status_input"] }}
                        </label>
                        <div class="col-sm-10">
                            <select
                                name="payment_woovi_order_status_id" id="input-order-status"
                                class="form-select"
                            >
                                {% for order_status in order_statuses %}
                                    <option
                                        value="{{ order_status.order_status_id }}"
                                        {% if order_status.order_status_id == payment_woovi_order_status_id %} selected="selected"{% endif %}
                                    >
                                        {{ order_status.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ components["footer"] }}
