<form id="form-woovi">
    {% if error["warning"] %}
        <div class="alert alert-danger alert-dismissible">
            <i class="fa fa-exclamation-circle"></i>
            {{ error["warning"] }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}

    {% if show_tax_id_input %}
        <div class="form-group">
            <label
                for="input-tax-id"
                class="col-form-label"
            >
                {{ lang["CPF/CNPJ"] }}
            </label>
            <input
                type="text"
                name="tax_id"
                value=""
                placeholder="{{ lang["CPF/CNPJ"] }}"
                id="input-tax-id"
                class="form-control"
            />
        </div>
    {% endif %}

    {% if show_address_number_input %}
        <div class="form-group required">
            <label
                for="input-address-number"
                class="control-label"
            >
                {{ lang["Address number"] }}
            </label>
            <input
                type="text"
                name="address_number"
                value=""
                placeholder="{{ lang["Address number"] }}"
                id="input-address-number"
                class="form-control"
            />
        </div>
    {% endif %}

    {% if show_address_complement_input %}
        <div class="form-group">
            <label
                for="input-address-complement"
                class="control-label"
            >
                {{ lang["Address complement"] }}
            </label>
            <input
                type="text"
                name="address_complement"
                value=""
                placeholder="{{ lang["Address complement"] }}"
                id="input-address-complement"
                class="form-control"
            />
        </div>
    {% endif %}

    <div class="d-inline-block pt-2 pd-2 w-100 text-end">
        <button
            type="button"
            id="button-confirm"
            class="btn btn-primary"
        >
            {{ lang["Confirm Order"] }}
        </button>
    </div>
</form>
<script type="text/javascript"><!--
    $("#button-confirm").on("click", function () {
        var element = this;

        $.ajax({
            url: "index.php?route=extension/payment/woovi/confirm&language={{ language }}",
            data: $("#form-woovi").serialize(),
            type: "POST",

            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            cache: false,
            processData: false,

            beforeSend: function () {
                $(element).prop("disabled", true).addClass("loading");
            },
            complete: function () {
                $(element).prop("disabled", false).removeClass("loading");
            },

            success: function (json) {
                $(".alert-dismissible, .text-danger").remove();
                $(".form-group").removeClass("has-error");

                if (json["error"]) {
                    if (json["error"]["warning"]) {
                        $("#form-woovi").prepend(
                            '\
                            <div class="alert alert-danger alert-dismissible">\
                                <i class="fa fa-circle-exclamation"></i>'
                                + json["error"]["warning"]
                                + ' <button\
                                        type="button"\
                                        class="close"\
                                        data-bs-dismiss="alert"\
                                    ></button>\
                            </div>\
                            '
                        );
                    }

                    for (var key in json["error"]) {
                        $("#input-" + key.replaceAll("_", "-"))
                            .addClass("is-invalid")
                            .find(".form-control, .form-select, .form-check-input, .form-check-label")
                            .addClass("is-invalid");

                        $("#error-" + key.replaceAll("_", "-"))
                            .html(json["error"][key])
                            .addClass("d-block");
                    }

                    for (var key in json["error"]) {
                        var element = $("#input-" + key.replace("_", "-"));

                        if ($(element).parent().hasClass("input-group")) {
                            element = $(element).parent();
                        }

                        $(element).after(
                            '<div class="text-danger">'
                                + json["error"][key]
                            + '</div>'
                        );
                    }

                    $(".text-danger").parent()
                        .addClass("has-error");
                }

                if (json["redirect"]) {
                    location = json["redirect"];
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
//--></script>
