{{ components["header"] }}
{{ components["column_left"] }}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button
                    type="submit"
                    form="form-payment"
                    data-toggle="tooltip"
                    title="{{ lang["Save"] }}"
                    class="btn btn-primary"
                >
                    <i class="fa fa-save"></i>
                </button>

                <a
                    href="{{ previous_route }}"
                    data-toggle="tooltip"
                    title="{{ lang["Previous page"] }}"
                    class="btn btn-light"
                >
                    <i class="fa fa-reply"></i>
                </a>
            </div>

            <h1>{{ lang["heading_title"] }}</h1>

            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li>
                        <a href="{{ breadcrumb.href }}">
                            {{ breadcrumb.text }}
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <div class="container-fluid">
        <form
            action="{{ save_route }}"
            method="post"
            class="form-horizontal"
            id="form-woovi"
        >
            {% if woovi_warning %}
                <div class="alert alert-danger alert-dismissible">
                    <i class="fa fa-exclamation-circle"></i>
                    {{ woovi_warning }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endif %}

            {% if woovi_success %}
                <div class="alert alert-success alert-dismissible">
                    <i class="fa fa-exclamation-circle"></i>
                    {{ woovi_success }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endif %}

            <!-- One click configuration -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-pencil"></i>

                        {{ lang["Authenticate on the platform using 1 click"] }}
                    </h3>
                </div>

                <div class="panel-body">
                    <p>
                        {{ lang["By pressing this button, you will be redirected to our platform where we will quickly configure a new integration."] }}
                    </p>

                    <button
                        class="btn btn-primary"
                        style="margin: 5px 0"
                        id="button-oneclick"
                        type="button"
                    >
                        {{ lang["Connect the extension"] }}
                    </button>

                    {% if settings["woovi"]["app_id"] %}
                        <p>
                            <strong>
                                {{ lang["Warning: This will overwrite your current non-empty AppID."] }}
                            </strong>
                        </p>
                    {% endif %}
                </div>
            </div>

            <!-- General Settings -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-pencil"></i>

                        {{ lang["Edit General Settings"] }}
                    </h3>
                </div>

                <div class="panel-body">
                    <!-- App ID -->
                    <div class="form-group">
                        <label for="input-app-id" class="col-sm-2 control-label">
                            {{ lang["App ID"] }}
                        </label>
                        <div class="col-sm-10">
                            <input
                                type="text"
                                name="settings[woovi][app_id]"
                                value="{{ settings["woovi"]["app_id"] }}"
                                placeholder="{{ lang["Enter your Woovi App ID"] }}"
                                id="input-app-id"
                                class="form-control"
                                autocomplete="off"
                            />
                            
                            <p>
                                {{ lang["Use this Webhook URL to be registered at Woovi:"] }}
                                <a href="{{ woovi_webhook_callback_url }}">
                                    {{ woovi_webhook_callback_url }}
                                </a>
                            </p>

                            <p>
                                {{ lang["Open your account now"] }}
                                <a href="{{ woovi_register_account_url }}">
                                    {{ woovi_register_account_url }}
                                </a>
                            </p>
                            
                            <p>
                                {{ lang["Woovi integration <a href=\"%woovi_opencart_documentation_url%\" target=\"_blank\">documentation</a> with OpenCart"]|replace({'%woovi_opencart_documentation_url%': woovi_opencart_documentation_url}) }}
                            </p> 
                        </div>
                    </div>
                </div>
            </div>

            <!-- Checkout fields -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-pencil"></i>

                        {{ lang["Edit checkout field settings"] }}
                    </h3>
                </div>

                <div class="panel-body">
                    <div class="form-group" style="padding-top: 0; padding-left: 15px">
                        <a href="{{ create_custom_field_route }}">
                            {{ lang["Create an custom field here."] }}
                        </a>
                    </div>

                    <!-- TaxID custom field -->
                    <div class="form-group">
                        <label
                            for="input-tax-id-custom-field-id"
                            class="col-sm-2 control-label"
                        >
                            {{ lang["Which custom field to use for CPF/CNPJ?"] }}
                        </label>
                        <div class="col-sm-10">
                            <select
                                name="settings[woovi][tax_id_custom_field_id]" id="input-tax-id-custom-field-id"
                                class="form-control"
                            >
                                <option value="">{{ lang["None"] }}</option>

                                {% for custom_field in custom_fields %}
                                    <option
                                        value="{{ custom_field.custom_field_id }}"
                                        {% if custom_field.custom_field_id == settings["woovi"]["tax_id_custom_field_id"] %} selected="selected"
                                        {% endif %}
                                    >
                                        {{ custom_field.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Address number custom field -->
                    <div class="form-group">
                        <label
                            for="input-address-number-custom-field-id"
                            class="col-sm-2 control-label"
                        >
                            {{ lang["Which custom field to use for the customer address house number?"] }}
                        </label>
                        <div class="col-sm-10">
                            <select
                                name="settings[woovi][address_number_custom_field_id]" 
                                id="input-address-number-custom-field-id"
                                class="form-control"
                            >
                                <option value="">{{ lang["None"] }}</option>

                                {% for custom_field in custom_fields %}
                                    <option
                                        value="{{ custom_field.custom_field_id }}"
                                        {% if custom_field.custom_field_id == settings["woovi"]["address_number_custom_field_id"] %} selected="selected"
                                        {% endif %}
                                    >
                                        {{ custom_field.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Address complement custom field -->
                    <div class="form-group">
                        <label
                            for="input-address-complement-custom-field-id"
                            class="col-sm-2 control-label"
                        >
                            {{ lang["Which custom field to use for the customer address complement?"] }}
                        </label>
                        <div class="col-sm-10">
                            <select
                                name="settings[woovi][address_complement_custom_field_id]"
                                id="input-address-complement-custom-field-id"
                                class="form-control"
                            >
                                <option value="">{{ lang["None"] }}</option>

                                {% for custom_field in custom_fields %}
                                    <option
                                        value="{{ custom_field.custom_field_id }}"
                                        {% if custom_field.custom_field_id == settings["woovi"]["address_complement_custom_field_id"] %} selected="selected"
                                        {% endif %}
                                    >
                                        {{ custom_field.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pix Settings -->
            {{ components["pix_payment_method_settings"] }}

            <!-- Woovi Parcelado Settings -->
            {{ components["woovi_parcelado_payment_method_settings"] }}
        </form>
    </div>
</div>

{{ components["footer"] }}

<script type="text/javascript">
(function () {
    $("#button-oneclick").on("click", function () {
        var element = this;

        var userToken = getURLVar("user_token");
        var url = "index.php?route=extension/payment/woovi/oneclick&user_token=" + userToken;

        $.ajax({
            url,
            type: "POST",
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            cache: false,
            processData: false,

            beforeSend: function () {
                $(element).prop("disabled", true).addClass("loading");
            },
            complete: function () {
                $(element).prop("disabled", false).removeClass("loading");
            },

            success: function (json) {
                $(".alert-dismissible, .text-danger").remove();
                $(".form-group").removeClass("has-error");

                if (json["error"] && json["error"]["warning"]) {
                    showWarning(json["error"]["warning"]);
                    return;
                }

                var redirectUrl = json["redirect_url"];

                if (redirectUrl) {
                    window.open(redirectUrl, "_blank");
                }
            },

            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    function showWarning(warning)
    {
        $("#form-woovi").prepend(
            '\
            <div class="alert alert-danger alert-dismissible">\
                <i class="fa fa-circle-exclamation"></i>'
                + warning
                + ' <button\
                        type="button"\
                        class="close"\
                        data-bs-dismiss="alert"\
                    ></button>\
            </div>\
            '
        );
    }
})();
</script>
